{{> header}}
{{> menu}}

<h1>Clients</h1>

{{#each customers}}
  <div class="customer-card">
    <h2>{{first_name}} {{last_name}}</h2>

    <h3>Primeres 5 pel·lícules llogades:</h3>
    <ul>
      {{#each rentals}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>
{{/each}}

{{> footer}}