{{> header}}
{{> menu}}

<main>
  <h1>Inici</h1>

  <h2>Movies</h2>
  <div class="grid">
    {{#each movies}}
      <div class="card">
        <h3>{{title}}</h3>
        <p><strong>Any:</strong> {{release_year}}</p>
        <p><strong>Actors:</strong> {{actors}}</p>
      </div>
    {{/each}}
  </div>

  <h2>Categories</h2>
  <div class="category-list">
    <ul>
      {{#each categories}}
        <li>{{name}}</li>
      {{/each}}
    </ul>
  </div>
</main>

{{> footer}}