{{> header}}
{{> menu}}

<h1>Pàgina principal</h1>

<h2>Top 5 Pel·lícules</h2>
<ul>
  {{#each movies}}
    <li>
      <strong>{{title}}</strong> ({{release_year}})
      <br>
      Actors: {{actors}}
    </li>
  {{/each}}
</ul>

<h2>Top 5 Categories</h2>
<ul>
  {{#each categories}}
    <li>{{name}}</li>
  {{/each}}
</ul>

{{> footer}}