{{> header}}
{{> menu}}

<h1>Pàgina principal</h1>

<h2>Movies</h2>
{{#each movies}}
  <div>
    <h3>{{title}} ({{release_year}})</h3>
    <p><strong>Actors:</strong> {{actors}}</p>
  </div>
{{/each}}

<h2>Categories</h2>
<ul>
  {{#each categories}}
    <li>{{name}}</li>
  {{/each}}
</ul>

{{> footer}}