{{> header}}
{{> menu}}

<main>
  <h1>Movies</h1>

  <div class="grid">
    {{#each movies}}
      <div class="card">
        <h3>{{title}}</h3>
        <p><strong>Any:</strong> {{release_year}}</p>
        <p><strong>Descripció:</strong> {{description}}</p>
        <p><strong>Actors:</strong> {{actors}}</p>
      </div>
    {{/each}}
  </div>
</main>

{{> footer}}